body {
	background-color: #f5f5dc;
}

h1 {
	text-align: center;
    font-size: 50px;
}

.intro {
    margin: 20px 40px 40px 40px;
    text-align: center;
}

/*----------DROPDOWNS----------*/
.dropdown {
    display: inline-block;
}

.dropdown button {
    width: 197px;
    white-space: normal;
    margin-top: 5px;
}

#dataseries1 {
    margin-left: 125px;
}

/*-------ADD, COMPARE, REMOVE-------*/
.add {
    margin-left: 125px;
    width: 800px;
    background-color: #d3d3d3;
}

.compare, .remove {
    background-color: #d3d3d3;
}

.add:hover, .compare:hover, .remove:hover {
    background-color: #fff;
}

/*-------------TABLE---------------*/
#table {
    display: inline-block;
}

table, th, td {
    text-align: center;
    margin-top: 15px;
    margin-left: 2px;
    border: 1px solid black;
    padding: 10px 5px 5px 10px;
}



