body {
	background-color: #f5f5dc;
}

h1 {
	text-align: center;
    font-size: 50px;
}

.intro {
    margin: 20px 40px 40px 40px;
    text-align: center;
}

/*----------DROPDOWNS----------*/
.dropdown {
    display: inline-block;
}

.dropdown button {
    width: 197px;
    white-space: normal;
    margin-top: 5px;
}

#dataseries1 {
    margin-left: 125px;
}

/*-------ADD, COMPARE, REMOVE-------*/
.add {
    margin-left: 125px;
    width: 800px;
    background-color: #d3d3d3;
}

.compare, .remove {
    background-color: #d3d3d3;
}

.add:hover, .compare:hover, .remove:hover {
    background-color: #fff;
}

/*--------------LOADER--------------*/
.loader {
    display: inline-block;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    left: 15px;
    top: 35px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*-------------TABLE---------------*/
#table {
    display: inline-block;
}

table, th, td {
    text-align: center;
    margin-top: 15px;
    margin-left: 2px;
    border: 1px solid black;
    padding: 10px 5px 5px 10px;
}



