body {
	background-color: #f5f5dc;
}

h1 {
	text-align: center;
}

.intro {
    margin: 0px 10px 0px 10px;
    text-align: center;
}

/*----------BUTTONS----------*/
.compare {
    margin-left: 125px;
    width: 220px;
    background-color: #d3d3d3;
}

.compare:hover {
    background-color: #fff;
}

.add {
    width: 285px;
    background-color: #d3d3d3;
}

.add:hover {
    background-color: #fff;
}

.remove {
    background-color: #d3d3d3;
}

.remove:hover {
    background-color: #fff;
}

#correlation {
    margin-left: 125px;
}

.dropdown {
    display: inline-block;
}

#table {
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}


